{
    "build": false,
    "errorShow": true,
    "applicationName": "{{ApplicationName}}",

    "database": {
        "host" : "localhost",
        "db" : "{{DataBase}}",
        "userName": "admin",
        "password": "admin"
    },

    "holdSession" : true,
    "defaultController": "home"
}