
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{echo "{{ControllerName}}"}}</title>
    <link rel="stylesheet" type="text/css" href="Static/Styles/{{ControllerName}}.css">
</head>

<body>
{{ echo $HelloWorld }}
</body>

<script src="Static/js/{{ControllerName}}.js"></script>

</html>
